@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family   : Poppins, Segoe UI Emoji, Segoe UI, Segoe, Verdana, Tahoma, serif, sans-serif;
    box-sizing    : border-box;
    outline-offset: 3px;
    margin        : 0;
    padding       : 0;    
}